/*
 * Vier Gewinnt - CSS
 *
 *	body
 *		> header
 				> h1
 *		> nav
 *			> #playerSelection
 *			> options (?)
 *		> #spielfeld
 *			> table
 *				> #btn-row
 *					> #btn1, #btn2, ..
 *				>
 *
 */



body {
	margin: 0px;
	padding: 0px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #FAF4EF;

	font-family: Century;
	font-weight: lighter;

	overflow-x: hidden;
}

header {

	width: 100%;
	height: 80px;

	background-color: #073A59;
	color: #FAF4EF;
}

header h1 {
	margin: 0px;
	padding-left: 15%;
	padding-top: 15px;

	font-size: 50px;
	font-weight: lighter;
}

/* ------------------------------------------------------------------------------------- */
nav {
	position: fixed;

	top: 80px;

	font-size: 20px;
}

#playerSelection {
	display: none;
	position: absolute;
}

/* ------------------------------------------------------------------------------------- */
#spielfeld {
	display: inline-block;
	position: relative;
	top: 30px;
	left: 50%;
	margin-left: -400px;
}

th {
	height: 50px;
	background-color: #71C700;
}

th:hover {
	background-color: red;
	cursor: pointer;
}

#spielfeld table tr td {
	height: 80px;
	width: 80px;
}

.leeres-feld {
	background-color: white;/* #0078A4; */
}

.p1 {
	height: inherit;
	width: inherit;
	border-radius: 100%;
	background-color: red;

}

.p2 {
	height: inherit;
	width: inherit;
	border-radius: 100%;
	background-color: blue;

}

#warning {
	display: none;
	/*position: relative;*/
	height: auto;
	width: auto;

	background-color: #FF3C3C;
	color: white;
	font-size: 20px;
	text-align: center;
}
