body {
  margin: 0px;
  background-color: #fafaef;
  font-family: Century;
  font-weight: lighter;
  position: relative;
}

header {
  margin: 0;
  height: 80px;

  background-color: #073a59;
  color: #fafaef;
}

header h1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 15%;
}

#main-area {
  position: relative;
  left: 10%;
  width: 1300px;
  box-sizing: border-box;
}

#left-side {
  position: relative;
  float: left;
  z-index: 10;
  box-sizing: border-box;
}

#right-side {
  position: relative;
  left: 100px;
  width:auto;
  box-sizing: border-box;
}

#playerSelection {
  display: none;
}

#spielfeld {
  position: relative;
  float: left;
  left: 100px;
  box-sizing: border-box;
}

.list-group {
  list-style: none;
  font-size: 22px;
}

.list-group-item{
  background-color: #A61B1B;
  color: white;
  margin: 5px;
  padding: 7px;
  border-bottom: 2px solid black;
}

p {
  width: 180px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #D93333;
}

.einwurf-btn {
  width: 80px;
  color: white;
  background-color: #20BA5B;/*#22DB59;*/
  padding-bottom: 5px;
}

.einwurf-btn:hover {
  background-color: #D93333;
  cursor: pointer;
}

.leeres-feld {
  background-color: white;
  height: 80px;
  width: 80px;
}

.p1 {
  height: inherit;
  width: inherit;
  border-radius: 100%;
  background-color: #E8222E; /* red */
}

.p2 {
  height: inherit;
  width: inherit;
  border-radius: 100%;
  background-color: #251DFF; /* blue */
}

#warning {
  display: none;
  float: right;
}

#spalte-voll {
  margin-top: 50px;
  padding: 5px;
  padding-left: 15px;
  width: 200px;
  font-size: 20px;
  background-color: #FFA500;
}

#spalte-voll-text {
  padding: 0;
  margin: 0;
  font-family: fantasy;
  font-weight: bold;
}
